main {
    max-width: 600px;
}   

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 2em;
}

table {
    margin: auto;
    padding: 10px;
    margin-bottom: 1.5em;
    border: 1.5px solid #000;
    border-radius: 10px;
    border-collapse: separate;
}

.title {
    font-size: 24px;
    font-weight: 800;
}

td {
    padding: 0 10px;
    border-bottom: 3px solid #345;
}

tr {
}