@font-face {
    font-family: "local 1";
    src: url("./assets/MADE\ Likes\ Script.otf");
}

@font-face {
    font-family: "local 2";
    src: url("./assets/Roboto-BoldCondensed.ttf");
}

@font-face {
    font-family: "local 3";
    src: url("./assets/Vogue.ttf");
}

*,
*::before,
*::after {
    font-family: "local 2", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    /* border: 2px solid #324; */
}

a:not(.normal):focus,
a:not(.normal):hover {
    outline: none;
    box-shadow: 0px 0px 3px 1px #000, inset 0px 0px 3px 1px #000;
    transition: all .3s ease-in-out;
}

body {
    /* background-image: linear-gradient(180deg, rgb(218, 227, 243), rgb(46, 73, 94)); */
    background-image: linear-gradient(-270deg, #1488cc, rgba(43, 50, 178, 0.6));
    background-attachment: fixed !important;
    padding-top: 2em;
    min-height: 100dvh;
}

main {
    width: 100%;
    max-width: 650px;
    margin: auto;
}

.btn {
    border: none;
    border-radius: 8px;
    padding: 6px 8px;
    margin: .1em auto .4em;
    cursor: pointer;
    font-size: 1.1em;
    background-color: rgb(68, 114, 196);
    color: white;
    display: block;
    text-decoration: none;

    min-width: 150px;
    width: 50%;
    max-width: 200px;
}

.logo {
    min-width: 200px;
    width: 60%;
    max-width: 650px;
    margin-bottom: 1em;
    filter: drop-shadow(0px 7px 3px #000000);
}

footer .logo {
    filter: invert();
}

@keyframes aparecer {
    from {
        transform: translateY(15px);
        opacity: 0;
    }
}