body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 70dvh;
}

.redes {
    margin-top: 1em;
    display: flex;
    flex-flow: row nowrap;
    max-width: 300px;
    margin: auto;
    justify-content: space-evenly;
}

.social {
    width: 50px;
    height: 50px;
}

.social:hover,
.social:focus {
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

.navbar {
    margin-bottom: 2em;
}