figure {
    width: 200px;
    border: 1px solid rgba(30, 45, 34, 0.3);
    border-radius: 15px;
    display: inline-block;
    overflow: hidden;
    margin: .1em;
}

figure img {
    width: 100%;
    transition: all .3s ease-in-out .1s;
    &:hover {
        transform: scale(1.3);
    }
}

figure figcaption {
    font-family: cursive;
}

body {
    background-attachment: fixed;
}