.video iframe {
    width: 300px;
    border-radius: 20px;
    margin-bottom: 1.4em;
    display: block;
    margin: auto;
}

.video span {
    font-size: 18px;
    font-weight: 600;
}

.video {
    margin-bottom: 1.5em;
}

h1 {
    margin-bottom: 2em;
}